/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sf-dark-side: #000000;
    --sf-dark-header: #080B12;
    --sf-dark-bg: #141922;
    --sf-dark-footer: #282828;
    --sf-btn-plylist: #A3A3A3;
    --sf-subtitle: #66696E;
    --sf-light: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* #endregion Common */

/* #region Utilities */
.d_flex {
    display: flex;
}

.d_wrap {
    flex-wrap: wrap;
}

.f_column {
    flex-direction: column;
}

.f_row {
    flex-direction: row;
}

.s_around {
    justify-content: space-around;
}

.s_between {
    justify-content: space-between;
}

.a_center {
    align-items: center;
}

.a_end {
    align-items: flex-end;
}

.f_center {
    justify-content: center;
}

.f_end {
    justify-content: flex-end;
}

.t_center {
    text-align: center;
}

.col_4 {
    width: calc((100% / 12) * 4);
}
/* #endregion Utilities */

/* #region Debug */
.debug .container {
    background-color: rgb(0, 0, 0);
}

.debug .main {
    background-color: rgb(226, 171, 43);
}

.debug .side_bar {
    background-color: rgb(166, 0, 255);
}

.debug .music {
    background-color: rgba(34, 0, 255, 0.683);
}

.debug .upgrade {
    background-color: rgb(51, 153, 56);
}

.debug .content {
    background-color: rgb(153, 51, 116);
}

.debug .tracks {
    background-color: saddlebrown;
}

.debug .album {
    background-color: red;
}

.debug .footer {
    background-color: rgb(255, 247, 0);
}

.debug .playing {
    background-color: aqua;
}

.debug .controls {
    background-color: rgb(0, 255, 187);
}

.debug .audio {
    background-color: rgb(0, 162, 255);
}
/* #endregion Debug */

/* #region Body */

.container {
    height: 100vh;
}

/* #region Main */
.main {
    height: calc(100% - 100px);
    display: flex;
}

/* #region Sidebar */
.side_bar {
    height: 100%;
    width: 50px;
    background-color: var(--sf-dark-side);
    padding: 1rem;
    overflow: hidden;
}

.side_bar a {
    color: var(--sf-btn-plylist);
}

.logo {
    gap: 0.25rem;
}

.logo .big_logo {
    width: 100%;
    filter: invert(0);
}

.logo .full_logo {
    width: 150px;
    filter: invert(0);
}

.menu {
    margin: 1.5rem 0;
    line-height: 2.5rem;
}

.menu a:hover {
    color: var(--sf-light);
}

.home img,
.search img,
.bookshelf img {
    filter: invert(0.5);
}

.home:hover,
.search:hover,
.bookshelf:hover {
    filter: invert(0);
}

.icon {
    width: 30px;
}

.home,
.search,
.bookshelf {
    gap: 0.25rem;
}

.playlist h3 {
    color: var(--sf-light);
}

.setup_playlist {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.setup_playlist i {
    color: var(--sf-btn-plylist);
    font-size: 2.75rem;
}

.name_playlist {
    margin-top: 1rem;
    line-height: 2rem;
}

.name_playlist a {
    display: inline-block;
}

.name_playlist a:hover,
.setup_playlist:hover a,
.setup_playlist:hover i {
    color: var(--sf-light);
}

.profile {
    height: 100%;
}

.install {
    gap: 0.5rem;
}

.profile .icon_small {
    width: 20px;
    filter: invert(0.5);
}

.install a:hover {
    color: var(--sf-light);
}

.profile hr {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.user {
    gap: 0.5rem;
}

.profile .user_logo {
    width: 25px;
    background-color: var(--sf-btn-plylist);
    border-radius: 50%;
}
/* #endregion Sidebar */

/* #region Music */
.music {
    height: 100%;
    width: calc(100% - 50px);
}

.upgrade {
    height: 80px;
    background-color: var(--sf-dark-header);
}

.upgrade span:hover {
    font-size: 15px;
}

.btn {
    background-color: var(--sf-dark-header);
    color: var(--sf-light);
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border: 1px solid var(--sf-light);
    border-radius: 1rem
}

.content {
    height: calc(100% - 80px);
    background-color: var(--sf-dark-bg);
    overflow-y: auto;
}

.tracks {
    width: 100%;
    padding: 1rem;
}

.nav_bar li {
    color: var(--sf-btn-plylist);
    padding: 1rem;
}

.underline {
    margin-top: 0.5rem;
    border: 1px solid greenyellow;
    width: 50%;
}

.nav_bar li:hover {
    color: var(--sf-light);
}

.tracks h2 {
    color: var(--sf-light);
    margin: 1rem 0;
}

.tracks .subtitle {
    display: inline-block;
    color: var(--sf-btn-plylist);
    margin-bottom: 2rem;
}

.album {
    width: calc((100% / 12) * 6 - 1rem);
    aspect-ratio: 1 / 1;
    margin-bottom: 2rem;
}

.album .images {
    position: relative;
}

.album .images i {
    font-size: 5rem;
    color: var(--sf-light);
    position: absolute;
    left: 37%;
    bottom: 37%;
    display: none;
}

.images:hover img {
    opacity: 0.5;
}

.images:hover i {
    display: block;
}

.album h3 {
    color: var(--sf-light);
    padding: 1rem 0;
}

.circle {
    border-radius: 50%;
}
/* #endregion Music */
/* #endregion Main */

/* #region Footer */
.footer {
    height: 100px;
    padding: 1rem;
    display: flex;
    background-color: var(--sf-dark-footer);
}

.playing,
.audio {
    flex-grow: 1;
}

.controls i,
.audio i ,
.seconds {
    color: var(--sf-light);
}

.playing {
    gap: 1rem;
}

.playing_album {
    gap: 1rem;
    margin-right: 2rem;
}

.playing img {
    width: 50px;
}

.playing i {
    color: var(--sf-btn-plylist);
}

.playing i:hover {
    color: var(--sf-light);
}

.details h3 {
    color: var(--sf-light);
}

.details a {
    color: var(--sf-btn-plylist);
}

.details a:hover {
    color: var(--sf-light);
    text-decoration: underline;
}

.details h6 {
    color: var(--sf-btn-plylist);
}

.controls {
    flex-grow: 4;
}

.controls_top {
    gap: 1rem;
}

.controls_top i {
    font-size: 1rem;
}

.btn_play {
    margin: 0 1rem;
}

.controls_top .fa-circle-play {
    font-size: 2rem;
}

.controls_bottom {
    gap: 1rem;
    margin-top: 0.5rem;
}

.duration {
    width: 40%;
}

.bar_duration {
    border: 1px solid var(--sf-btn-plylist);
    background-color: var(--sf-btn-plylist);
    width: 100%;
    border-radius: 1rem;
    position: relative;
}

.progress {
    border: 1px solid var(--sf-light);
    width: 30%;
}

.bar_duration:hover .progress{
    border: 1px solid rgb(155, 251, 10);
}

.bullet {
    background-color: var(--sf-light);
    border: 1px solid var(--sf-light);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    bottom: -6px;
    display: none;
}

.bar_duration:hover .bullet {
    display: inline-block;
}

.seconds {
    font-size: 0.75rem;
}

.audio {
    gap: 1rem;
}

.bar_audio {
    width: 40%;
}
/* #endregion Footer */
/* #endregion Body */

/* #region Query */
@media screen and (min-width: 320px) {
    .menu h4 {
        display: none;
    }

    .playlist,
    .setup_playlist,
    .name_playlist {
        display: none;
    }

    .logo .full_logo {
        display: none;
    }

    .profile h4,
    .profile hr, 
    .profile h3 {
        display: none;
    }

    .icon {
        display: inline-block;
    }

    .album {
        width: calc((100% / 12) * 6 - 1rem);
    }
}

@media screen and (min-width: 568px) {
    .side_bar {
        width: 230px;
    }

    .menu h4 {
        display: inline-block;
    }

    .playlist,
    .setup_playlist,
    .name_playlist {
        display: inline-block;
    }

    .logo .big_logo {
        display: none;
    }

    .logo .full_logo {
        display: inline-block;
    }

    .profile h4,
    .profile hr, 
    .profile h3 {
        display: flex;
    }

    .music {
        width: calc(100% - 230px);
    }

    .album {
        width: calc((100% / 12) * 6 - 1rem);
    }
}

@media screen and (min-width: 768px) {
    .album {
        width: calc((100% / 12) * 3 - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    .album {
        width: calc((100% / 12) * 2 - 1rem);
    }
}
/* #endregion Query */